.pic-upload > .ant-upload {
    border-radius: 50%;
    border-color: transparent;
    border-style: none;
    width: 100%;
    height: 100%;
}

.ant-upload-picture-card-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
}


.pic-wrap {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pic-img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: relative;
    transition: .3s;
}

.pic-text {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    color: white;
    font-weight: 600;
    font-size: 120%;
    position: relative;
    transform: translateY(-100%);
    transition: .3s;
}

.pic-wrap:hover .pic-text {
    transition: .3s;
    visibility: visible;
    background: rgb(26, 26, 26, 0.5);
    opacity: 1;
}

.text-middle {
    padding-top: 45%;
}
