.profile-contents{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.user-pic{
    font-size: 80px;
    margin-top: 20px;
    color: silver;
    height: 170px;
}

.user-name{
    font-size: 15px;
    margin-top: 0;
}

.first-name, .last-name, .email, .phone{
    height: 50px;
    display: flex;
    min-height: 50px;
    margin: 10px;
    margin-bottom: 0px;
    border: 1px solid silver;
    background-color: #EBF4FA;
    border-radius: 1rem;
    padding: 2% 2%;
    width: 45vh;
    color: #0D283E;
}

.address{
    height: 80px;
    display: flex;
    min-height: 50px;
    margin: 10px;
    margin-bottom: 0px;
    border: 1px solid silver;
    background-color: #EBF4FA;
    border-radius: 1rem;
    padding: 2% 2%;
    width: 45vh;
    color: #0D283E;
}

.separator{
    background-color: #0D283E;
    border-bottom: 3px solid black;
    border-width: 1cm;
}

.emergency{
    border-bottom: 2px solid red;
    border-width: 2px;
    font-size: larger;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 10px;
    color: red;
}

.edit-btn{
    align-items: baseline;
    position: absolute;
    right: 300px;
    background-color: #EBF4FA;
    border: none;
}

.edit-btn:hover{
    background-color: silver;
}

