.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Side Bar styling components */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #ffffff;
}

.wrapper{
    display:flex;
    position: relative;
    

}

.wrapper .sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #20639B;
    padding: 30px 0;
} 

/* SIDE BAR */
.side-bar {
	flex: 0.2;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5px;
	text-align: center;
	background: #20639B;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
	padding: 1rem 1rem;
}

.side-bar__user {
	margin-bottom: 40px;
}

.wrapper .sidebar h2{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar h3{
    color: #D1C7C7;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
} 

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 2px solid rgba(225,225,225,0.05);
    margin-bottom: 20px;
}

.wrapper .sidebar ul li a{
    color: #ffffff;
    display: block;
}

.wrapper .sidebar ul li a .fas{
    width: 40px;
}

.wrapper .sidebar ul li:hover{
    background: #173F5F;
}

.wrapper .sidebar ul li:hover a{
    color: #ffffff;
}

/************************************************/